@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    You are visiting the
    <br />
    Gift Card Server
    <br />
    Please contact your agent or call 1-800-618-4199 for more information.
</p>
