@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h2>Contact</h2>
<p>
    For your convenience, you may contact us through any of the following means.
    We may be reached by phone during regular business hours.
</p>

<table cellpadding="5" cellspacing="0" border="0" align="center" summary="Contact information for Prairie Trail Software">
    <tr>
        <td class="boxed" colspan="2"> <h3>Address</h3></td>
    </tr>
    <tr>
        <td colspan="2">
            <h4>
                Prairie Trail Software, Inc.<br />
                3821 Beaumont Lane<br />
                Plano Texas 75023<br />
            </h4>
        </td>
    </tr>
    <tr>
        <td class="boxed" colspan="2"> <h3>Phone numbers</h3></td>
    </tr>
    <tr>
        <td>Main Office:</td>
        <td align="right">800-618-4199</td>
    </tr>
    <tr>
        <td>Local:</td>
        <td align="right">972-618-4199</td>
    </tr>
</table>



