@{
    ViewBag.Title = "Home Page";
}


<p>
    We welcome a discussion with you about how gift cards can help you
    bring back your customers for greater profit.
</p>


<p>
    For more information on the types of gift card systems that you can get and the differences between them all,
    please go to:  <a href="http://www.prairietrail.com/giftx/index.html" title="">Gift Systems Information</a>
</p>


