
@{
    ViewBag.Title = "ViewErrorMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View Error Message</h2>

@ViewBag.ErrorMessage


<div>
    @Html.ActionLink("Back to Main Page", "Index")
</div>

