@model dynamic

@section TitleContent {

	Index

}



    <h2>Index</h2>
    <p>
    Get Card Balance
    <br />
    <br />
    Look Up Card History
    <br />
    <br />
    Find Merchants Where Card can be Used
    <br />
    <br />
    Manage Customer Sign on's
    <br />
    <br />
    Move Customer to New Card
    <br />
    <br />
    Mark Card Stolen or Lost
    <br />
    <br />
    </p>


